<div class="features">
    <span>
        <b><i class="fas fa-user"></i></b> <%= car.car_passengers %><br> <%= footer.pax %>
    </span>
    <span>
        <b><i class="fas fa-car"></i></b> <%= car.car_doors %><br> <%= footer.doors %>
    </span>
    <span>
        <b><i class="fas fa-sitemap"></i></b><br> <%= car.car_transmission %>
    </span>
    
    <span>
        <b><i class="fas fa-thermometer-quarter"></i></b><br> A/C
    </span>
</div>