<div class="polaroid <%= isActive %>">
    <span class="daily-price"><span class="currencySymbol"></span><%= data.prices.dailyPrice %> / Dia</span>
    <div class="polaroid-box">
        <img src="/static/carsPics/<%= slug %>/<%= pic %>" alt="">
    </div>
    <div class="polaroid-data">
        <img src="/static/media/cars/thumbs/<%= data.car.rivenditore %>" alt="">
    </div>
</div>