<div>
    <img src="/static/media/red-wave.svg" alt="">
</div>
<section id="prices">
    <div>
        <h1 class="secondary center">
            <%= contents.offers %>
        </h1>
    </div>
    <div class="prices">
        <div class="empty"></div>
        <div class="price">
            <p class="center">
                <img src="/static/media/havana_by_car.png" alt="" class="logo">
            </p>
            <h5 class="car-name"><span>HYUNDAI GRAN i10</span></h5>
            <div class="category">
                <h6 class="center"><%- contents.manualCheap %></h6>
            </div>

            <div class="sparkeBox">
                <img src="/static/media/tyre.png" alt="">
            </div>

            <p class="dots">
                ...<span class="primary">.</span>
            </p>
            <p class="dotsTwo">
                .<span class="primary">.</span>..
            </p>
            <p class="dotsThree">
                ....
            </p>
            <p class="dotsFour">
                ....
            </p>

            <p class="triangleBox">
                <img src="/static/media/triange.svg" alt="">
                <img src="/static/media/triange.svg" alt="" class="rotate">
            </p>

            <div class="price-roll">
                <div class="dark-box"></div>
                <div class="line-box"></div>
                <div class="price-box center">
                    <span>
                        <%= contents.perDay %>
                    </span><br>
                    <span><b class="priceBold"><span id="manualMinPrice"></span> <span
                                class="currencySymbol"></span></b></span><br>
                    <span><b>
                            <%= contents.insuranceIncluded %>
                        </b></span>
                </div>
            </div>

            <div class="sparkeRight">
                <h1><span class="accent">.</span><span style="color: orange">.</span><span style="color: green">.</span>
                </h1>
            </div>

            <div class="pic-box">
                <img src="/static/carsPics/Hyundai-Gran-i10-white/301330_gran_i10_white_front_xxl.jpeg" alt="">
            </div>

        </div>
        <div class="empty"></div>
        <div class="price">
            <p class="center">
                <img src="/static/media/havana_by_car.png" alt="" class="logo">
            </p>
            <h5 class="car-name"><span>Kia Picanto</span></h5>
            <div class="category">
                <h6 class="center"><%- contents.automaticoCheap %></h6>
            </div>
            <div class="sparkeBox">
                <img src="/static/media/tyre.png" alt="">
            </div>
            <p class="dots">
                ....
            </p>
            <p class="dotsTwo">
                ....
            </p>
            <p class="dotsThree">
                ..<span class="primary">.</span>.
            </p>
            <p class="dotsFour">
                <span class="primary">.</span>...
            </p>

            <p class="triangleBox">
                <img src="/static/media/triange.svg" alt="">
                <img src="/static/media/triange.svg" alt="" class="rotate">
            </p>

            <div class="price-roll">
                <div class="dark-box"></div>
                <div class="line-box"></div>
                <div class="price-box center">
                    <span>
                        <%= contents.perDay %>
                    </span><br>
                    <span><b class="priceBold"><span id="automaticMinPrice"></span> <span
                                class="currencySymbol"></span></b></span><br>
                    <span><b>
                            <%= contents.insuranceIncluded %>
                        </b></span>
                </div>
            </div>

            <div class="sparkeRight">
                <h1><span class="accent">.</span><span style="color: orange">.</span><span style="color: green">.</span>
                </h1>
            </div>

            <div class="pic-box">
                <img src="/static/carsPics/kia-picanto/0.jpeg" alt="">
            </div>

        </div>
        <div class="empty"></div>
</section>
<div class="red-wave-reverse last-wave">
    <img src="/static/media/red-wave.svg" alt="">
</div>