<section id="promo">
    <div>
        <h1 class="center accent"><%= contents.gold_service %></h1>
    </div>
    <div class="promos">
        <div></div>
        <div class="promo">
            <h5><%= contents.vip_assistance.toUpperCase() %></h5> 
            <h1>
                <i class="fas fa-user-friends"></i>
            </h1>
            <div class="divider"></div>
            <p><%- contents.vip_assistance_description %></p>
        </div>
        <div></div>
        <div class="promo last-promo">
            <h5><%= contents.fuel_included.toUpperCase() %></h5>
            <h1>
                <i class="fas fa-solid fa-gas-pump"></i>
            </h1>
            <div class="divider"></div>
            <p><%- contents.fuel_included_description %></p>
        </div>
        <div></div>
    </div>
</section>