<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/analytics.ejs') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= contents.title %></title>
    <meta name="description" content="<%= contents.description %>">
    <meta name="keywords" content="<%= contents.keywords %>" />
    <%- include('./partials/seo.ejs') %>
    <%- include('./partials/head.ejs') %>
    <script src="/static/js/bundle.js" type="module"></script>
</head>
<body>

    <div class="container">
        <%- include('./partials/nav.ejs') %>
        <%- include('./components/siteLocator.ejs', { 
            itemOne: nav.home, 
            itemTwo: data.lang == "ENG" ? "HOW IT WORKS" : "COMO FUNCIONA",
            itemThree: contents.car, 
            hasFilter: false, 
            finalPrice: ""
        }) %>

        <div class="red-wave-reverse up">
            <img src="/static/media/red-wave.svg" alt="">
        </div>

        <div class="double-col">
            
            <%- include('./components/lateralSearch.ejs') %>
            
            <div class="results-container">
                <h1><%= contents.title %></h1>
                <h2 class="accent">
                    <%= contents.action %> 
                </h2>

                <br>

                <% const steps = [
                    {
                        name: contents.pick,
                        content: contents.pickExplainer,
                    },
                    {
                        name: contents.pay,
                        content: contents.payExplainer,
                    },
                    {
                        name: contents.voucher,
                        content: contents.voucherExplainer,
                    },
                ]; 
                for(let i = 0; i < steps.length; i++) {
                %>
                    <%- include('./components/singleStep.ejs', {step: steps[i], counter: i + 1}) %>
                    <% if(i < 2) { %>
                        <%- include('./components/singleStepDivider.ejs')%>
                    <% } %>
                <% } %>

                <div style="width: 100%; height: 4px; background-color: var(--accent); margin: 30px 0px;"></div>
                
                <% if(lang == "ENG") { %>
                    <%- include("./components/moreDetailsENG.ejs") %>
                <%  } else { %>
                    <%- include("./components/moreDetailsES.ejs") %>
                <%  } %>
            </div>
        </div>
        
    </div>

    <%- include('./partials/bottom.ejs', {footer}) %>

</body>
</html>