<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/analytics.ejs') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= contents.title %></title>
    <meta name="description" content="<%= contents.description %>">
    <meta name="keywords" content="<%= contents.keywords %>" />
    <%- include('./partials/seo.ejs') %>
    <%- include('./partials/head.ejs') %>
    <script src="/static/js/bundle.js" type="module"></script>
</head>
<body>

    <div class="container">
        <%- include('./partials/nav.ejs') %>
        
    </div>

    <%- include('./partials/bottom.ejs', {footer}) %>

</body>
</html>