<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/analytics.ejs') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> TERMS AND CONDITIONS </title>
    <meta name="description" content="TERMS AND CONDITIONS">
    <meta name="keywords" content="TERMS AND CONDITIONS" />
    <%- include('./partials/seo.ejs') %>
    <%- include('./partials/head.ejs') %>
    <script src="/static/js/bundle.js" type="module"></script>
</head>
<body>
    <div class="container">
        <%- include('./partials/nav.ejs') %>
        <% if(req.path.includes('/ENG/')){%>
            <%- include('./partials/termsEN.ejs') %>
        <% } else { %>
            <%- include('./partials/termsES.ejs') %>
        <% } %>
    </div>
    <%- include('./partials/bottom.ejs', {footer}) %>

</body>
</html>